.TranslationItem {
    padding: 9px;

    mask-image: linear-gradient(to right, black 80%, transparent 100%);
    width: 400px;
    max-width: 400px;
    
    display: grid;
    grid-template-columns: max-content 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 6px 6px;
    grid-template-areas: 
      "icon source"
      "icon translation";

    cursor: pointer;
}

.SourceText {
    /* text-overflow: ellipsis; */
    overflow: hidden;
    white-space: nowrap;
    grid-area: source;
}

.TranslationText {
    opacity: 0.5;
    /* text-overflow: ellipsis; */
    overflow: hidden;
    white-space: nowrap;
    grid-area: translation;
}

.Selected {
    background-color: rgb(0, 100, 100);
    color: white;
}

.Icon {
    grid-area: icon;
    align-self: center;
}
