.Footer {
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: var(--footer-color);
    padding: 9px;
}

.FooterInner {
    display: grid;
    max-width: 600px;
    flex-basis: 600px;
}