.Index {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
}

.Header {
    font-weight: normal;
    margin: 9px;
}

.IndexItem {
    padding: 9px;
    display: flex;
    
    border-top: 1px solid var(--border-color);
    overflow: hidden;

    cursor: pointer;
}

.IndexItem:last-child {
    border-bottom: 1px solid var(--border-color);
}

.IndexItem:hover {
    background-color: var(--hover-color);
}

.IndexItem:active {
    background-color: var(--active-color);
}

.IndexContainer {
    padding-left: 20px;
    padding-right: 20px;
}