.ModalList {
    border-bottom: 1px solid rgb(80, 80, 80);
    max-height: 70vh;
    overflow-y: auto;
}

.ModalListItem {
    padding: 15px;
    text-align: center;
    cursor: default;
}

.ModalListItem:hover {
    background-color: rgba(0, 100, 100, 0.5);
}

.ModalListItem:active {
    background-color: rgba(0, 100, 100);
}

.ModalListItem:not(:last-child) {
    border-bottom: 1px solid rgb(80, 80, 80);
}