.ProjectItem {
    border-top: 1px solid var(--border-color);
    padding: 9px;

    cursor: pointer;
}

.ProjectItem:hover {
    background-color: var(--hover-color);
}

.ProjectItem:active {
    background-color: var(--active-color);
}