@font-face {
    font-family: 'Contemporary';
    font-style: normal;
    font-weight: 400;
    src: local('Contemporary'), local('Contemporary-Regular'), url('https://vicr123.com/typeface/Contemporary-Regular.ttf');
}

body {
    margin: 0px;
    font-family: 'Contemporary', sans-serif;

    background: rgb(40, 40, 40);
    color: white;
}

:root {
    /* Turquoise */
    /*--hover-color: rgba(0, 100, 100, 0.5);*/
    /*--active-color: rgb(0, 100, 100);*/
    /*--border-color: rgb(80, 80, 80);*/
    /*--footer-color: rgba(0, 100, 100, 0.3);*/
    
    /* Orange */
    /*--hover-color: rgba(100, 60, 0, 0.5);*/
    /*--active-color: rgb(100, 60, 0);*/
    /*--border-color: rgb(80, 80, 80);*/
    /*--footer-color: rgba(100, 60, 0, 0.3);*/

    --hover-color: rgba(0, 100, 200, 0.5);
    --active-color: rgb(0, 100, 200);
    --border-color: rgb(80, 80, 80);
    --footer-color: rgba(0, 100, 200, 0.3);
}

a {
    color: white;
    text-decoration: none;
}