.SiteAdministration {
    display: flex;
    flex-grow: 1;
    
    justify-content: center;
}

.SiteAdministrationContents {
    min-width: 60vw;
    max-width: calc(100vw - 40px);
    flex-basis: 600px;
}

.UserSplash {
    display: grid;
    
    grid-template-areas:
        "image name"
        "image email";
    grid-template-columns: min-content 1fr;
    
    gap: 3px;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 9px;
}

.ProfilePicture {
    margin-right: 9px;
    height: 64px;
    clip-path: circle(32px at center);
    grid-area: image;
}

.UserName {
    grid-area: name;
    font-size: 20pt;
}

.EmailAddress {
    grid-area: email;
    opacity: 0.5;
}

.VerificationRequest {
    padding-top: 9px;
}

.SectionHeader {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
}

.VerificationRequestButtonBox {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.VerificationRequestButtonBox button {
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: white;
    font: 12pt Contemporary;
    border-radius: 3px;
    padding: 9px;
}

.VerificationRequestButtonBox button:hover {
    background-color: var(--hover-color);
}

.VerificationRequestButtonBox button:active {
    background-color: var(--active-color);
}

.SectionItem {
    padding: 9px;
    border-top: 1px solid var(--border-color);
    cursor: default;
}

.SectionItem:last-child {
    border-bottom: 1px solid var(--border-color);
}

.SectionItem:hover {
    background-color: var(--hover-color);
}

.SectionItem:active {
    background-color: var(--active-color);
}