.ProjectSidebar {
    display: flex;
    flex-direction: column;

    max-width: 300px;
    flex-basis: 300px;
    border-right: 1px solid var(--border-color);
}

.SidebarHeader {
    padding: 9px;
    font-size: 15pt;

    border-bottom: 1px solid var(--border-color);
}

.SidebarItem {
    padding: 3px;
    padding-left: 9px;
}

.SidebarItem:hover {
    background-color: var(--hover-color);
}

.SidebarItem.Selected, .SidebarItem:active {
    background-color: var(--active-color);
}